
*{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

.container{
    width: 1140px;
    margin: 0 auto;
    padding: 0 4em; /* stavit po cenrtu container */
}
.promo {
    height:800px;
    background: url('../assets/bg_start.png') center center/cover no-repeat;
}

header{
    
    /* Включаем режим Flexbox. */
    display: flex; 
    position: fixed;
    
	/* Распределяем элементы внутри шапки justify-content: space-around;*/
    justify-content: space-around;

	/* Выравниваем элементы вертикально по центру. */
    align-items: center;
    padding: 25px 10px 0 10px;
    z-index: 5;
}

.header-logo img{
    width: 90px;
    filter: grayscale(80%);
}

.header-right ul{
    list-style: none;
    margin-left: 22em;

}
.header-right ul li {
    /*ставим эдементы в одну строку*/
    display: inline-block;
    /*делаем отстум друг от друга*/
    margin: 0 15px;


}
.header-right ul li a{
    color: white;
    letter-spacing: 2px;
    font-size: 14px;
    font-weight: 300;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 1px;
    padding-bottom: 5px;
    transition: background-size .3s;
}
.header-right ul li a:hover {
    background-size: 100% 1px;
}

.header-right ul li button {
    color: white;
    background: none;
    height: 48px;
    line-height: 48px;
    margin-left: 32px;
    font-weight: 300;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 2px;
    padding: 0 24px;
    border: 1px solid ;
    opacity: 1;
}

.header-right ul li button:hover{
    color: black;
    background-color:white;
    border: 1px solid white;
    opacity: 0.7; /*прозрачность*/
    transition: .9s;/*Задержка*/
}


.promo_text{
    position: flex;
    padding-top: 11em;
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    color: white;
}


.promo_i_am{
    position: flex;
    margin-top: 3em;
    padding-left: 22em;
    font-family: 'Noto Serif', italic;
    font-size: 34px;
    color: white;
}


/*второй блок*/
.second{
    height: 700px;
    background-color: #1a1a1a;
}

.my_skill h1{
    text-align: center;
    letter-spacing: 4px;
    padding-top: 2em;
    font-family:'Roboto', sans-serif;
    font-size: 24px;
    color: white;

}


.my_skill img{
    position: relative;
    right: 4em;
    top: 3em;
    width: 500px;
    filter: grayscale(90%);
}

.my_skill h2{
    position: relative;
    text-align: right;
    bottom: 8em;
    font-size: 20px;
    line-height: 1.3;
    color: white;
    font-family:'Roboto', sans-serif;
    font-weight: 300;
    z-index: 1;

}

.iam_img img{
    position: relative;
    filter: grayscale(80%);
    width: 300px;
    left: 78%;
    bottom: 100px;
    transition: filter .4s;
}

.iam_img img:hover {
    filter: none;
    
}
.my_work{
    height: 1200px;
    background-color: #e9e9e9;
    
}

.nam_white{
    position: relative;
    font-family:'Roboto', sans-serif;
    font-size: 32px;
    line-height: 35px;
    color: white;
    bottom: 160px;
    left: 40px;

}

.work_img_tip img{
    position: relative;
    width: 920px;
    bottom: 130px;
    border-radius: 2px;
    left: 3em;
    box-shadow: 1px 1px 15px #1a1a1a;

}

.my_work_name{
    position: relative;
    bottom: 100px;
    color: #1a1a1a;
    font-family: Roboto,sans-serif;
    font-weight: 500;
    font-size: 15px;
    line-height: 17px;
    letter-spacing: 2px;

    
}

.my_work_line{
    position: relative;
    bottom: 90px;
    border: none; /* Убираем границу */
    height: 1px;
    width: 20px;
    height: 1px;
    background-color: #ed2c3f;
}

.my_work_text{
    position: relative;
    bottom: 80px;
    color: #1a1a1a;
    font-family: Roboto,sans-serif;
    font-weight: 300;
    font-size: 18px;
}


.oll_work{
    display: flex; 
    justify-content: space-around;
}  

.oll_work img{
    filter: grayscale(90%);
    transition: filter 0.5s linear;
    width: 450px;
    box-shadow: 5px 1px 10px #1a1a1a;
}

.oll_work img:hover {
    filter: none;

}

.oll_work_my_work_name{
    margin-top: 28px;
    color: #1a1a1a;
    font-family: Roboto,sans-serif;
    font-weight: 500;
    font-size: 15px;
    line-height: 17px;
    letter-spacing: 2px;
}

.oll_work_my_work_line{
    margin-top: 10px;
    border: none; /* Убираем границу */
    width: 20px;
    height: 1px;
    background-color: #ed2c3f;
}

.oll_work_my_work_text{
    margin-top: 10px;
    bottom: 80px;
    color: #1a1a1a;
    font-family: Roboto,sans-serif;
    font-weight: 300;
    font-size: 18px;
}

footer{
    height: 300px;
    background-color: #1a1a1a;
    color: #828282;
    font-size: 12px;
    font-family: Roboto,sans-serif;
    font-weight: 300;
}
footer .container{
    height: 300px;
    background: url('../assets/footer.png');
    background-repeat: no-repeat;
    background-size: auto 150%;
    background-position: 50%;
}


footer  button {
    position: relative;
    top: 20px;
    left: 84%;
    color: red;
    background: none;
    height: 48px;
    line-height: 48px;
    margin-left: 32px;
    font-weight: 300;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 2px;
    padding: 0 24px;
    border: 1px solid ;
    opacity: 1;
}

footer  button:hover{
    color:white;
    background-color:red;
    border: 1px solid red;
    opacity: 0.7; /*прозрачность*/
    transition: .9s;/*Задержка*/
}


.social img{
    position: relative;
    width: 150px;    
    top: 150px;
    left: 85%;
    filter: contrast(50%);
}


footer .author{
    position: relative;
    text-align: right;
    top: 85px;
}

.info{
    width: 200px;
    position: relative;
    line-height: 2;
    top: 85px;
    left: 15px;
}
 .vl{
     width: 1px;
    position: relative;
    border-left: 1px solid  #828282;
    height: 70px;

 }

 @media (max-width: 768px){
     .container{
        width: 300px;
        padding: 0;
     }
    .header-logo img{
        width:40px;
    }
    
    .header-right ul {
        list-style: none;
        margin-left: 0px;
    }     

    .header-right ul li {
        display: inline-block;
        margin: 0 1px;
    }
    .header-right ul li a {
        color: white;
        letter-spacing: 0;
        font-size: 11px;
    }

    .header-right ul li button{
        margin-left: 5px;
        font-size: 11px;
        padding: 0 2px;
        border: none;
        letter-spacing: 0px;
    }
    .promo_text {
        font-size: 20px;
        padding-top: 16.5em;
    }
    .promo{
        height: 550px;
    }
    .my_skill img{
        width: 400px;
    }

    .my_skill h1{
        text-align: center; 
        font-size: 18px;
    }
    .my_skill h2{
        text-align: left;
        font-size: 18px;
        line-height: 1.3;
        top: 4em;
    }
    .nam_white{
        bottom: 140px;
        font-size: 18px;
        text-align: left;
    }
    .work_img_tip img{
        width: 300px;
        left: 0;
    }
    .iam_img img{
        width: 150px;
        left: 50%;
        top: 80px;
    }
    .my_work_text{
        font-size: 12px;
    }
    .oll_work img {
        width: 140px;
        box-shadow: 1px 1px 3px #1a1a1a;
    }
    .oll_work_my_work_text{
        font-size: 12px;
    }

    .my_work{
        height: 530px;
    }

    .info{
        left: 5px;
        line-height: 1.5;
    }

    footer button{
        left: 50%;
        font-size: 12px;
        padding: 1px 10px;
      
    }
    footer .author{
        top: 100px;
    }
    .social img{
        left: 25%;
        top: 80px;
    }
    footer .container{
        background-position: 0%;
    }
 }

    